Repository kamontat/kamontat, changes with the labels that .github/labeler.yml gives for each.
All labels: File: Config, File: Test, File: Data, File: Style, File: Documentation

.github/labeler.yml:

"File: Config":
  - gatsby/**/*.ts
  - gatsby-config.js

"File: Test":
  - test/**/*.spec.ts

"File: Data":
  - data/**/*.json

"File: Style":
  - src/**/*.css
  - src/**/*.scss
  - src/**/*.sass

"File: Documentation":
  - README.md
  - docs/**/*.md

perf(model): BaseOption of React component should have pageContext too
  src/layout/Base.tsx
Labels: none

fix(comp): update import name
  src/layout/Default.tsx
  src/pages/contact.tsx
Labels: none

chore: remove gatsby image in index page
  src/pages/index.tsx
Labels: none

fix(ui): on BaseLayout tailwind not exist yet
  src/layout/Base.tsx
Labels: none

chore(ui): add POC of i18n website
  gatsby-config.js
  gatsby/gatsby-config.ts
  package.json
  src/features/intl/index.ts
  src/features/intl/lang/en.ts
  src/features/intl/lang/th.ts
  src/pages/lang.en.tsx
  src/pages/lang.th.tsx
  tsconfig.json
Labels: File: Config

perf(data): add default language to siteMetadata
  data/metadata.json
  src/layout/Default.tsx
Labels: File: Data

fix(test): add component snapshot
  src/components/__test__/__snapshots__/coming-soon.spec.tsx.snap
Labels: none

chore: modified graphql-types
  types/gatsby-graphql.ts
Labels: none

feat(ui): update real debug information
  src/pages/debug.tsx
  types/gatsby-graphql.ts
Labels: none

chore(deps): upgrade cypress to v6, and gatsby plugins
  package.json
  yarn.lock
Labels: none

chore(config): update netlify node_env to production
  netlify.toml
Labels: none

perf(data): support netlify environment
  gatsby/constants/index.ts
  gatsby/gatsby-config.ts
  gatsby/helpers/ConfigHelper.ts
Labels: File: Config

fix(helper): fix logging in metadata
  gatsby/builders/MetadataBuilder.ts
Labels: File: Config

feat(page): add netlify environment to debug page
  src/pages/debug.tsx
Labels: none

chore(types): update graphql-types
  types/gatsby-graphql.ts
Labels: none

chore(ci): fix netlify deployment errors
  gatsby-config.js
  netlify.toml
  types/gatsby-graphql.ts
Labels: File: Config

fix(data): update title and subtitle of debug page
  src/pages/debug.tsx
Labels: none

perf(config): update i18n to use new plugins instead
  gatsby/gatsby-config.ts
  gatsby/plugins/index.ts
  gatsby/plugins/intl.ts
Labels: File: Config

perf(data): move language defined to data directory
  data/lang/en.json
  data/lang/th.json
  src/features/intl/lang/en.ts
  src/features/intl/lang/th.ts
  src/pages/lang.th.tsx
  src/pages/lang.tsx
Labels: File: Data

feat(page): auto update lang in html to support i18n
  src/layout/Default.tsx
Labels: none

feat(ui): support change language in header
  src/features/intl/index.ts
  src/layout/components/Header.tsx
  src/layout/components/IntlDropdown.tsx
Labels: none

perf(comp): remove lang key in Metadata component
  src/components/Metadata.tsx
Labels: none

feat(dep): change plugin from i18n to intl
  package.json
  yarn.lock
Labels: none

perf(page): support new language in debug page
  src/pages/debug.tsx
  types/gatsby-graphql.ts
Labels: none

perf(config): disable debug on twin.macro
  babel-plugin-macros.config.js
Labels: none

perf(ui): locale information will contains country code as well
  data/lang/en-US.json
  data/lang/th-TH.json
  data/metadata.json
  gatsby/gatsby-config.ts
Labels: File: Config, File: Data

perf(comp): add support contentful rich text
  package.json
  src/components/ContentfulRichText.tsx
  src/pages/index.tsx
Labels: none

fix(ui): cursor should be pointer in dropdown components
  src/layout/components/IntlDropdown.tsx
  src/layout/components/ThemeDropdown.tsx
Labels: none

perf(ui): support click header title will go to home page (close #8)
  src/layout/components/Header.tsx
Labels: none

chore(config): update yarn.lock file
  yarn.lock
Labels: none

refac(page): move all apis call to debug root, and pass value to comp
  src/pages/debug.tsx
Labels: none

chore: update graphql-types
  types/gatsby-graphql.ts
Labels: none

feat(ui): add profile image randomly
  src/components/Avatar.tsx
  src/pages/index.tsx
Labels: none

fix(deps): using random lib instead
  package.json
Labels: none

fix(page): move new object out from react function to avoid loop create
  src/pages/index.tsx
Labels: none

refac(config): gatsby-node will use page builder instead
  gatsby/builders/PageBuilder.ts
  gatsby/gatsby-node.ts
Labels: File: Config

chore(config): update configuration
  types/gatsby-graphql.ts
  yarn.lock
Labels: none

chore(config): increase codegen delay to improve develop time
  gatsby/gatsby-config.ts
Labels: File: Config

chore(dep): add react icon, add fontawesome
  package.json
  yarn.lock
Labels: none

fix(ui): add key to loop intl to avoid error log
  src/layout/components/IntlDropdown.tsx
Labels: none
