Repository kamontat/kamontat, changes with the labels that .github/labeler.yml gives for each.
All labels: File: Config, File: Test, File: Data, File: Style, File: Documentation

fix(ci): wrong variable
  .github/workflows/unittest.yml
Labels: none

chore: update netlify build on node 14 instead (LTS)
  netlify.toml
Labels: none

chore: testing on node 14 and 15 instead 12 and 14
  .github/workflows/unittest.yml
Labels: none

chore: remove macos on unittest
  .github/workflows/unittest.yml
Labels: none

chore(docs): add new docs/ directory
  docs/ci.md
Labels: File: Documentation

chore(config): tune code-climate config
  .codeclimate.yml
  gatsby/gatsby-config.ts
Labels: File: Config

chore: enabled cache on Github Action
  .github/workflows/unittest.yml
Labels: none

chore: upgrade eslint of codeclimate eslint config to version 7
  .codeclimate.yml
  .eslintrc.js
Labels: none

chore: add lint in ci
  .eslintrc.js
  .github/workflows/unittest.yml
Labels: none

refac(comp): reduce return statement on social media bar
  src/components/index/SocialMedia.tsx
Labels: none

refac: update redirect component
  src/components/Redirect.tsx
Labels: none

chore: remove eslint:recommend because it conflict on cypress test
  .eslintrc.js
Labels: none

chore: upgrade cypress testcase to typescript defined
  cypress/e2e/debug.test.ts
  cypress/e2e/index.test.ts
  cypress/fixtures/example.json
  cypress/plugins/index.ts
  cypress/support/index.ts
Labels: none

feat(deps): upgrade cypress, and remove react-test-renderer
  package.json
  yarn.lock
Labels: none

refac: clean some code
  src/components/ContentfulRichText.tsx
  src/features/intl/index.ts
Labels: none

chore: rewrite test and snapshot
  src/components/__test__/__snapshots__/metadata.spec.tsx.snap
  src/components/__test__/__snapshots__/redirect.spec.tsx.snap
  src/components/__test__/__snapshots__/rich-text.spec.tsx.snap
  src/components/__test__/coming-soon.spec.tsx
  src/components/__test__/index/__snapshots__/definition.spec.tsx.snap
  src/components/__test__/index/__snapshots__/title.spec.tsx.snap
  src/components/__test__/index/definition.spec.tsx
  src/components/__test__/index/title.spec.tsx
  src/components/__test__/metadata.spec.tsx
  src/components/__test__/redirect.spec.tsx
  src/components/__test__/rich-text.spec.tsx
  src/features/intl/__test__/index.spec.ts
  test/setup/jest-postprocess.js
Labels: none

chore: update default env file
  .default.env
Labels: none

chore: the future of Github Action
  .github/workflows/test.yml
Labels: none

chore: improve package.json file
  package.json
Labels: none

fix ci fails
  .github/workflows/test.yml
Labels: none

chore: useless NODE_ENV since it been never override
  .default.env
Labels: none

perf(config): support gatsby flags in v3
  gatsby/builders/FlagBuilder.ts
  gatsby/gatsby-config.ts
Labels: File: Config

chore(deps): upgrade gatsby v3, emotion and eslint
  package.json
Labels: none

fix(config): webpack no longer included polyfil for path and stream
  gatsby/gatsby-node.ts
Labels: File: Config

fix(comp): avoid using @kcutils/helper because it included node module
  src/components/ContentfulRichText.tsx
  src/features/builders/social.ts
Labels: none

chore(refac): simplify Dropdown to single component integrated with reakit
  src/layout/components/Dropdown.tsx
  src/layout/components/IntlDropdown.tsx
  src/layout/components/ThemeDropdown.tsx
Labels: none

chore: migrate gatsby-image to gatsby-plugin-image
  gatsby/gatsby-config.ts
  gatsby/plugins/index.ts
  src/components/index/Avatar.tsx
  src/pages/index.tsx
Labels: File: Config

chore: migrated dropdown to using menu in reakit
  src/layout/components/Header.tsx
Labels: none

feat(ui): now social icon color will change matched with theme
  src/components/index/SocialMedia.tsx
  src/components/index/socials/Facebook.tsx
  src/components/index/socials/Github.tsx
  src/components/index/socials/Instagram.tsx
  src/components/index/socials/Linkedin.tsx
  src/components/index/socials/SocialIcon.tsx
  src/components/index/socials/Twitter.tsx
  src/components/index/socials/Youtube.tsx
  src/features/theme/constants/ThemeProperties.ts
  src/features/theme/constants/properties/base.ts
  src/features/theme/constants/properties/black.ts
  src/features/theme/constants/properties/dark.ts
  src/features/theme/constants/properties/light.ts
  src/features/theme/constants/properties/white.ts
  src/features/theme/models/ThemeProperties.ts
Labels: none

fix(ui): reakit not render in ssr
  src/layout/Base.tsx
Labels: none

feat(page): new 404 page and design
  src/components/404/Dashboard.tsx
  src/components/404/DigitNumber.tsx
  src/pages/404.tsx
Labels: none

chore: just commit changes
  types/gatsby-graphql.ts
  yarn.lock
Labels: none

chore: change coming soon component to to be continue
  src/components/ComingSoon.tsx
Labels: none

chore(deps): upgrade tailwind and emotion
  package.json
  yarn.lock
Labels: none

fix(page): add key in looping component
  src/layout/components/Dropdown.tsx
Labels: none

feat(page): implement beta form of contact me
  src/pages/contact.tsx
Labels: none

fix(ci): disabled query on demand in CI env
  gatsby/builders/FlagBuilder.ts
  gatsby/gatsby-config.ts
  src/components/__test__/__snapshots__/coming-soon.spec.tsx.snap
  src/components/__test__/coming-soon.spec.tsx
Labels: File: Config

chore: increase timeout in e2e test
  cypress/e2e/debug.test.ts
  cypress/e2e/index.test.ts
Labels: none

chore: change version to beta
  package.json
Labels: none

feat: initiate project
  .github/workflows/hello.yaml
  README.md
Labels: File: Documentation

.github/labeler.yml:

"File: Config":
  - gatsby/**/*.ts
  - gatsby-config.js

"File: Test":
  - test/**/*.spec.ts

"File: Data":
  - data/**/*.json

"File: Style":
  - src/**/*.css
  - src/**/*.scss
  - src/**/*.sass

"File: Documentation":
  - README.md
  - docs/**/*.md
