Repository kamontat/kamontat, changes with the labels that .github/labeler.yml gives for each.
All labels: File: Config, File: Test, File: Data, File: Style, File: Documentation

.github/labeler.yml:

"File: Config":
  - gatsby/**/*.ts
  - gatsby-config.js

"File: Test":
  - test/**/*.spec.ts

"File: Data":
  - data/**/*.json

"File: Style":
  - src/**/*.css
  - src/**/*.scss
  - src/**/*.sass

"File: Documentation":
  - README.md
  - docs/**/*.md

chore: update todo comment to support new todo bot
  gatsby/gatsby-config.ts
  tailwind.config.js
Labels: File: Config

feat(config): support contentful cms
  gatsby/gatsby-config.ts
  package.json
  types/gatsby-graphql.ts
  yarn.lock
Labels: File: Config

chore: add example unit-test
  .github/workflows/unittest.yml
  jest.config.js
  package.json
  src/components/__test__/__snapshots__/button.spec.tsx.snap
  src/components/__test__/__snapshots__/header.spec.tsx.snap
  src/components/__test__/button.spec.tsx
  src/components/__test__/header.spec.tsx
  test/__mocks__/assets.js
  test/__mocks__/gatsby.js
  test/setup/jest-postprocess.js
  test/setup/jest-preprocess.js
  test/setup/loadershim.js
  yarn.lock
Labels: none

fix(config): update gh workflow config to be standard
  .github/workflows/labeler.yml
  .github/workflows/todo.yml
Labels: none

chore: add e2e test with cypress
  cypress.json
  cypress/e2e/accessibility.test.js
  cypress/fixtures/example.json
  cypress/plugins/index.js
  cypress/screenshots/accessibility.test.js/Accessibility tests -- Has no detectable accessibility violations on load (failed).png
  cypress/support/index.js
  cypress/videos/accessibility.test.js.mp4
Labels: none

chore(config): update unit test and e2e gh workflow config
  .github/workflows/e2e.yml
  .github/workflows/unittest.yml
Labels: none

chore: remove cypress asset files
  cypress/screenshots/accessibility.test.js/Accessibility tests -- Has no detectable accessibility violations on load (failed).png
  cypress/videos/accessibility.test.js.mp4
Labels: none

chore(config): using gitignore.io instead
  .gitignore
Labels: none

chore(ui): add lang to html
  src/pages/index.tsx
Labels: none

fix(test): remove support nodejs 10 and remove unused code
  .github/workflows/e2e.yml
  .github/workflows/unittest.yml
  jest.config.js
Labels: none

fix(config): update `yarn build` comman
  netlify.toml
Labels: none

chore(config): add deployment workflow in github action
  .default.env
  .github/workflows/deployment.yml
  .gitignore
Labels: none

fix: compile error when sitemap cannot get site-url
  data/metadata.json
Labels: File: Data

chore(config): update ci/cd config
  .github/workflows/deployment.yml
  .github/workflows/e2e.yml
  .github/workflows/unittest.yml
Labels: none

fix(config): deployment trigger branch
  .github/workflows/deployment.yml
Labels: none

fix(config): e2e config is wrong
  .github/workflows/e2e.yml
Labels: none

chore: force unit-test to be failed
  .github/workflows/deployment.yml
  src/components/__test__/button.spec.tsx
Labels: none

Add custom type of twin and emotion
  types/emotion.d.ts
  types/twin.d.ts
Labels: none

perf(config): support load json file in code
  tsconfig.json
Labels: none

refac: move tailwindcss config from root to src/styles
  src/styles/tailwind.config.js
Labels: none

refac(config): move cypress from root to ./cypress
  cypress/config.json
  package.json
Labels: none

perf(config): support debug mode in config builder
  gatsby/builders/ConfigBuilder.ts
Labels: File: Config

refac: formatted code via eslint --fix
  gatsby-config.js
  yarn.lock
Labels: File: Config

fix(test): fix force failed test
  .gitgo/list.yaml
  src/components/__test__/button.spec.tsx
Labels: none

chore(config): enabled debug mode in twin.macro, needs to revert
  babel-plugin-macros.config.js
Labels: none

feat(ui): add i18n plugin, not implement yet
  gatsby/gatsby-config.ts
  gatsby/plugins/i18n.ts
  gatsby/plugins/index.ts
Labels: File: Config

refac(comp): remove graphql query in seo comp
  .gitgo/list.yaml
  src/components/seo.tsx
Labels: none

perf(data): reduce title length and improve data structure
  .gitgo/list.yaml
  data/metadata.json
Labels: File: Data

perf(ui): change website icon
  gatsby/gatsby-config.ts
  src/images/gatsby-astronaut.png
  src/images/gatsby-icon.png
  src/images/icon.png
Labels: File: Config

feat(ui): 4 themes support dark, light, black, white
  src/features/theme/constants/ThemeName.ts
  src/features/theme/constants/ThemeProperties.ts
  src/features/theme/constants/properties/base.ts
  src/features/theme/constants/properties/black.ts
  src/features/theme/constants/properties/dark.ts
  src/features/theme/constants/properties/light.ts
  src/features/theme/constants/properties/white.ts
  src/features/theme/context.ts
  src/features/theme/index.ts
  src/features/theme/models/ThemeContextObject.ts
  src/features/theme/models/ThemeObject.ts
  src/features/theme/models/ThemeProperties.ts
  src/helpers/local-storage.ts
  src/layout/Base.tsx
Labels: none

perf(ui): new layouts support, default, center and empty
  src/components/layout.css
  src/components/layout.tsx
  src/layout/Center.tsx
  src/layout/Default.tsx
  src/layout/Empty.tsx
  src/layout/components/Header.tsx
  src/layout/components/ThemeDropdown.tsx
Labels: File: Style

refac(ui): move basic page to new layout
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/page-2.tsx
  src/pages/using-typescript.tsx
Labels: none

chore(ui): add POC of debug page. not finish yet
  src/pages/debug.tsx
Labels: none

chore(config): update graphql models types
  types/gatsby-graphql.ts
Labels: none

chore: add 3 todo more
  src/components/coming-soon.tsx
  src/layout/components/Header.tsx
  src/pages/contact.tsx
Labels: none

feat(page): add /go/<social> link
  .gitgo/list.yaml
  gatsby/gatsby-node.ts
  src/components/Redirect.tsx
  src/templates/redirector.tsx
Labels: File: Config

perf: add robots.txt to ignore /go/* path
  static/robots.txt
Labels: none

refac(comp): component name should be capitial case
  src/components/ComingSoon.tsx
  src/components/Metadata.tsx
  src/components/__test__/__snapshots__/header.spec.tsx.snap
  src/components/__test__/coming-soon.spec.tsx
  src/components/header.tsx
  src/components/image.tsx
Labels: none

fix(model): graphql query in gatsby-node didn't generate in graphql-types
  gatsby/gatsby-config.ts
  yarn.lock
Labels: File: Config

chore: update graphql-types
  types/gatsby-graphql.ts
Labels: none
